Flask==1.1.2
flask-cors
opencv-python
tensorflow==2.15.0
absl-py>=1.0.0
astunparse
cachetools
certifi
chardet
click
Flask-JSGlue
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2==2.11.3
Keras-Preprocessing
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
requests
requests-oauthlib
rsa
six
tensorboard  # ⚠️ Хувилбар заалгүй орхи → өөрөө зохицуулна
tensorboard-plugin-wit
termcolor
typing-extensions
urllib3
Werkzeug
wrapt
